<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <button class="back"><a href="http://localhost:3000/posts">Back</a></button>
    <form method="post" action="/posts" class="form">
        <h1>Create New Post</h1>
        <input type="text" name="username" placeholder="Enter username">
        <input type="text" name="title" placeholder="Enter title">
        <input type="text" name="short_content" placeholder="Enter short content you which to display">
        <input type="text" name="content" placeholder="Entercontent">
        <button class="submit">Submit</button>
    </form>
</body>
</html>